
/* SKILLS SECTION */
#skills {
  font-size: 4.5rem;
}

/* TIME LINE SECTION */
.time-range-container {
  background-image: url(../images/dash-line-png-3.png);
  background-repeat: repeat-y;
  overflow: hidden;
  background-position: center center;
  background-size:auto ;
}

.timeline-line {
  border: 2px;
  height: 100%;
  width: 100%;
}

.timeline-section {
  max-height: 20%;
}

.time-range {
  background: #303030;
  padding:8px
}

/* IMAGE EFFECT SECTION */
img {
  filter: url(filters.svg#grayscale);  
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
  transition: all .75s ease-in-out;
}

img:hover {
  filter: none;
  -webkit-filter: none;
  transition: all .75s ease-in-out;

}

.img-color {
  filter: none;
  -webkit-filter: none;
  transition: all .75s ease-in-out;
}

/* MEDIA QUERIES SECTION */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .img-fluid {
    width:100%
  }

  .time-range-container {
    padding: 2px;
  }

  .time-range.card-title {
    font-size: 0.75rem ;
  }

}

