
/* SKILLS SECTION */
#skills {
  font-size: 4.5rem;
}

/* TIME LINE SECTION */
.time-range-container {
  background-image: url(../images/dash-line-png-3.png);
  background-repeat: repeat-y;
  overflow: hidden;
  background-position: center center;
  background-size:auto ;
}

.timeline-line {
  border: 2px;
  height: 100%;
  width: 100%;
}

.timeline-section {
  max-height: 20%;
}

.time-range {
  background: #303030;
  padding:8px
}

/* MEDIA QUERIES SECTION */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .img-fluid {
    width:100%
  }

  .time-range-container {
    padding: 2px;
  }

  .time-range.card-title {
    font-size: 0.75rem ;
  }

}

